:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.cta{
        font-size: 2.5rem;
        padding: 10px 30px;
        height: 60px;
        width: 160px;
        border-radius: 50px;
        border: 3px solid crimson;
        background-color: transparent;
        color: crimson;
    }
.cta a{
    color: crimson;
}
.cta:hover{
    color: white;
    background-color: crimson;
    border: 3px solid white;
}
.cta:hover a{
    color: white;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem ; 
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: crimson;
}

/*HEADER SECTION*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    margin: 0;
}
#header .container{
    margin: 0;
}
#header .header .brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
  }
  #header .header .brand h1 span{
    color: crimson;
  }
#header .header{
    transition: .3s ease background-color;
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
    top: 0;

}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li a:hover{
    color: crimson;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    top: 0 ; 
    transform: scale(.8);
    margin-right: 20px;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: wheat;
    z-index: 1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
#header .nav-list ul.active{
    left: 0;
}
/*END HEADER SECTION*/

#hero{
    background-image: url(images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100% ;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: blacks;
    opacity: .7;
    z-index: -1;
}
.containers p {
    font-size: 20px;
    font-weight: bold;
    color: white;
	text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}
.containers {
	color: #e5e5e5;
	font-size: 2.26rem;
	text-transform: uppercase;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
display: flex;
flex-direction: column;
}
.ccc{
    display: flex;
flex-direction: row;
}

.animation {
	height: 30px;
	overflow: hidden;
	margin-left: 1rem;
margin-bottom: 50px;
}

.animation>div>div {
	padding: 0.25rem 0.75rem;
	height: 2.81rem;
	margin-bottom: 2.81rem;
	display: inline-block;
}

.animation div:first-child {
	animation: text-animation 8s infinite;
}

.first div {
	background-color: #3157ff;
    height: 10px;
}

.second div {
	background-color: #b82aff;
}

.third div {
	background-color: #fa26b0;
}

@keyframes text-animation {
	0% {
		margin-top: 0;
	}

	10% {
		margin-top: 0;
	}

	20% {
		margin-top: -5.62rem;
	}

	30% {
		margin-top: -5.62rem;
	}

	40% {
		margin-top: -11.24rem;
	}

	60% {
		margin-top: -10.24rem;
	}

	70% {
		margin-top: -5.62rem;
	}

	80% {
		margin-top: -5.62rem;
	}

	90% {
		margin-top: 0;
	}

	100% {
		margin-top: 0;
	}
}


/* SERVICE SECTION*/
#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .service-top{
    max-width: 500px;
    margin: 0 auto;
}
#services .service-buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/service.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(68deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#service .services-botton .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
.icon img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
}
#services .service-item h2{
     font-size: 2rem;
     color: white;
     margin-bottom: 10px;
     text-transform: uppercase;
}
#services .service-item h2{
    color: white;
    text-align: left;
}
/*END SERVICE SECTION*/

/*PROJECT SECTION*/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
}
#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
/*END PROJECT SECTION*/

/*ABOUT SECTION*/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.card {
  max-width: 300px;
  height: 480px;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.img img{
  width: 100%;
  height: 100%;
    position: relative;
    border: 13px solid white;
    width: 11.8em;
  height: 11.8em;
  background: white;
  border-radius: 150rem;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}
.card span {
  color: white;
  text-align: center;
  display: block;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px;
  font-size: 4rem;
}

.card p {
    line-height: 16px;
    color: white;
    display: block;
    text-align: center;
    margin: 1em;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2rem;
}

.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: crimson;
}
.card button {
    font-family: inherit;
    display: block;
    width: 10em;
    height: 3.6em;
    line-height: 2.5em;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: none;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 25px;
    font-weight: bold;
    color: crimson;
    margin-bottom: 15px;
  }

 .card button:hover {
    color: #fff;
    background: crimson;
    color: white;
    cursor: pointer;
  }

/*END ABOUT SECTION*/

/*CONTACT SECTION*/

#contact{
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        background-color: var(--veryLightGray);
        /* display: flex;
        align-items: center;
        justify-content: center; */
        height: 100vh;   
}

#contact h1{
    margin: 0px 0px 60px 0px;
}

.attribution { 
    font-size: 11px; text-align: center; 
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
  
  .box h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);
  
  }
  
  .box h1:last-of-type {
    color: var(--varyDarkBlue);
  }
  
  @media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
  }
  
  .header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  
  .header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
  }
  
  
  .box p {
    color: var(--grayishBlue);
  }
  
  .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
  }
  
  img {
    float: right;
  }
  
  @media (max-width: 450px) {
    .box {
        height: 200px;
    }
  }
  
  @media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
  }
  
  .cyan {
    border-top: 3px solid var(--cyan);
  }
  .red {
    border-top: 3px solid var(--red);
  }
  .blue {
    border-top: 3px solid var(--blue);
  }
  .orange {
    border-top: 3px solid var(--orange);
  }
  
  h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
  }
  
  
  @media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
  }

/*END CONTACT SECTION*/

/*FOOTER SECTION*/

  #footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563);
  }

  #footer .footer .brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
  }
  #footer .footer .brand h1 span{
    color: crimson;
  }

  #footer .footer{
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  #footer .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 2rem;
  }
  
  #footer a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  #footer a:hover {
    color: crimson;
  }

  #footer h2{
    color: white;
  }

  #footer p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }

/*END FOOTER SECTION*/

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500;
    }
}

@media only screen and (min-width: 768px){
    h1.section-title{
        font-size: 6rem;
    }
    #hero h1{
        font-size: 7rem;
    }
    #services .service-buttom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
    }
}

@media only screen and (min-width: 1200px){
    #services .service-buttom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    .containers p {
        font-size: 40px;
        font-weight: bolder;
    }
    
    .containers {
        font-size: 30px;
        font-weight: bolder;
    }
}